/node_modules/
/lib/
/test/
custom-elements.json
# top level source
/baseplayer.*
/events.*
/video-element.*
/playbackevent.*
/tensorflow
/ui
/bodypix-video.*
/facelandmark-video.*
/handpose-video.*
/posedetection-video.*
/videopose-element.*
/keyframeevent.*
/abstractvisualizer.*
/visualization-canvas.*
/pose-player.*


# only generated for size check
my-element.bundled.js